

body{
    margin: 20px;
    padding: 1em;
    background-color: #7e9fdc;
    justify-content: center;
}


#thread{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin: 2em;
    padding: 1em;
    text-align: center;
}


.input {
    outline: #7e9fdc;
    width: 50%;
    height: 10%;
    transition: 180ms box-shadow ease-in-out;
}


